.menu-bar{
    position: fixed;
    display: flex;
    align-items: center;
    width: 328px;

}
.menu-bar__content{
    background-color: #fff;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 328px;
    position: fixed;
    bottom: 0;
}